.select-centered .v-field__field {
    justify-content: center;
}

.select-centered .v-field__input {
    justify-content: center;
}

.select-centered .v-list-item {
    text-align: center;
}

.select-centered .v-input__details {
    text-align: center;
}